body
{
	background: #f5d9d5;
	font-family: "nunito";
}

h2
{
	color: #EA1C2C;
}

.blurb
{
	color: #f498b8;
}

#Mainnavbar  .navbar-brand
{
	color: #EA1C2C;
}

#Mainnavbar
{
	font-size: 1.5em;
	font-weight: 100px;
	: white;
}

#Mainnavbar .nav-link:hover
{
	color: #EA1C2C;
}

#headingGroup span
{
	color: #EA1C2C;
	background-size: cover;
	background-position: fixed;
	background-repeat: no-repeat;
}

@media (max-width:1200px)
{
	#headingGroup h1
	{
		font-weight: 100;
		font-size: 3rem;
	}
}